In [6]:
df = pd.read_csv('D:\\Data science\\43_77_bundle_archive\\battles.csv', nrows=3)
df

,name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,1,0,15000.0,4000,Jaime Lannister,"Clement Piper, Vance",1,Golden Tooth,The Westerlands,NaN
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Baratheon,...,1,0,NaN,120,Gregor Clegane,Beric Dondarrion,1,Mummer's Ford,The Riverlands,NaN
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,NaN,NaN,NaN,Tully,...,0,1,15000.0,10000,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1,Riverrun,The Riverlands,NaN

In [38]:
df = pd.read_csv('D:\\Data science\\43_77_bundle_archive\\battles.csv', na_values={
    'attacker_2': ['NaN',-1]
})
df.fillna('-')

,name,year,battle_number,attacker_king,defender_king,attacker_1,attacker_2,attacker_3,attacker_4,defender_1,...,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region,note
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,-,-,-,Tully,...,1,0,15000,4000,Jaime Lannister,"Clement Piper, Vance",1,Golden Tooth,The Westerlands,-
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,-,-,-,Baratheon,...,1,0,-,120,Gregor Clegane,Beric Dondarrion,1,Mummer's Ford,The Riverlands,-
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,-,-,-,Tully,...,0,1,15000,10000,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1,Riverrun,The Riverlands,-
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,-,-,-,Lannister,...,1,1,18000,20000,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1,Green Fork,The Riverlands,-
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,-,-,Lannister,...,1,1,1875,6000,"Robb Stark, Brynden Tully",Jaime Lannister,1,Whispering Wood,The Riverlands,-
5,Battle of the Camps,298,6,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,-,-,Lannister,...,0,0,6000,12625,"Robb Stark, Tytos Blackwood, Brynden Tully","Lord Andros Brax, Forley Prester",1,Riverrun,The Riverlands,-
6,Sack of Darry,298,7,Joffrey/Tommen Baratheon,Robb Stark,Lannister,-,-,-,Darry,...,0,0,-,-,Gregor Clegane,Lyman Darry,1,Darry,The Riverlands,-
7,Battle of Moat Cailin,299,8,Balon/Euron Greyjoy,Robb Stark,Greyjoy,-,-,-,Stark,...,0,0,-,-,Victarion Greyjoy,-,1,Moat Cailin,The North,-
8,Battle of Deepwood Motte,299,9,Balon/Euron Greyjoy,Robb Stark,Greyjoy,-,-,-,Stark,...,0,0,1000,-,Asha Greyjoy,-,1,Deepwood Motte,The North,-
9,Battle of the Stony Shore,299,10,Balon/Euron Greyjoy,Robb Stark,Greyjoy,-,-,-,Stark,...,0,0,264,-,Theon Greyjoy,-,1,Stony Shore,The North,Greyjoy's troop number based on the Battle of ...
10,Battle of Torrhen's Square,299,11,Robb Stark,Balon/Euron Greyjoy,Stark,-,-,-,Greyjoy,...,0,0,244,900,"Rodrik Cassel, Cley Cerwyn",Dagmer Cleftjaw,1,Torrhen's Square,The North,Greyjoy's troop number comes from the 264 esti...
11,Battle of Winterfell,299,12,Balon/Euron Greyjoy,Robb Stark,Greyjoy,-,-,-,Stark,...,0,1,20,-,Theon Greyjoy,Bran Stark,1,Winterfell,The North,It isn't mentioned how many Stark men are left...
12,Sack of Torrhen's Square,299,13,Balon/Euron Greyjoy,Balon/Euron Greyjoy,Greyjoy,-,-,-,Stark,...,0,1,-,-,Dagmer Cleftjaw,-,1,Torrhen's Square,The North,-
13,Sack of Winterfell,299,14,Joffrey/Tommen Baratheon,Robb Stark,Bolton,Greyjoy,-,-,Stark,...,1,0,618,2000,"Ramsay Snow, Theon Greyjoy","Rodrik Cassel, Cley Cerwyn, Leobald Tallhart",1,Winterfell,The North,Since House Bolton betrays the Starks for Hous...
14,Battle of Oxcross,299,15,Robb Stark,Joffrey/Tommen Baratheon,Stark,Tully,-,-,Lannister,...,1,1,6000,10000,"Robb Stark, Brynden Tully","Stafford Lannister, Roland Crakehall, Antario ...",1,Oxcross,The Westerlands,-
15,Siege of Storm's End,299,16,Stannis Baratheon,Renly Baratheon,Baratheon,-,-,-,Baratheon,...,1,0,5000,20000,"Stannis Baratheon, Davos Seaworth","Renly Baratheon, Cortnay Penrose, Loras Tyrell...",1,Storm's End,The Stormlands,-
16,Battle of the Fords,299,17,Joffrey/Tommen Baratheon,Robb Stark,Lannister,-,-,-,Tully,...,0,0,20000,10000,"Tywin Lannister, Flement Brax, Gregor Clegane,...","Edmure Tully, Jason Mallister, Karyl Vance",1,Red Fork,The Riverlands,-
17,Sack of Harrenhal,299,18,Robb Stark,Joffrey/Tommen Baratheon,Stark,-,-,-,Lannister,...,1,0,100,100,"Roose Bolton, Vargo Hoat, Robett Glover",Amory Lorch,1,Harrenhal,The Riverlands,-
18,Battle of the Crag,299,19,Robb Stark,Joffrey/Tommen Baratheon,Stark,-,-,-,Lannister,...,0,0,6000,-,"Robb Stark, Smalljon Umber, Black Walder Frey",Rolph Spicer,1,Crag,The Westerlands,-
19,Battle of the Blackwater,299,20,Stannis Baratheon,Joffrey/Tommen Baratheon,Baratheon,-,-,-,Lannister,...,1,1,21000,7250,"Stannis Baratheon, Imry Florent, Guyard Morrig...","Tyrion Lannister, Jacelyn Bywater, Sandor Cleg...",1,King's Landing,The Crownlands,-
20,Siege of Darry,299,21,Robb Stark,Joffrey/Tommen Baratheon,Darry,-,-,-,Lannister,...,0,0,-,-,Helman Tallhart,-,1,Darry,The Riverlands,-
21,Battle of Duskendale,299,22,Robb Stark,Joffrey/Tommen Baratheon,Stark,-,-,-,Lannister,...,1,0,3000,-,"Robertt Glover, Helman Tallhart","Randyll Tarly, Gregor Clegane",1,Duskendale,The Crownlands,-
22,Battle of the Burning Septry,299,23,-,-,Brotherhood without Banners,-,-,-,Brave Companions,...,0,0,-,-,-,-,1,-,The Riverlands,-
23,Battle of the Ruby Ford,299,24,Joffrey/Tommen Baratheon,Robb Stark,Lannister,-,-,-,Stark,...,0,0,-,6000,Gregor Clegane,"Roose Bolton, Wylis Manderly",-,Ruby Ford,The Riverlands,-
24,Retaking of Harrenhal,299,25,Joffrey/Tommen Baratheon,-,Lannister,-,-,-,Brave Companions,...,1,0,-,-,Gregor Clegane,Vargo Hoat,1,Harrenhal,The Riverlands,-
25,The Red Wedding,299,26,Joffrey/Tommen Baratheon,Robb Stark,Frey,Bolton,-,-,Stark,...,1,1,3500,3500,"Walder Frey, Roose Bolton, Walder Rivers",Robb Stark,1,The Twins,The Riverlands,This observation refers to the battle against ...
26,Siege of Seagard,299,27,Robb Stark,Joffrey/Tommen Baratheon,Frey,-,-,-,Mallister,...,0,1,-,-,Walder Frey,Jason Mallister,1,Seagard,The Riverlands,-
27,Battle of Castle Black,300,28,Stannis Baratheon,Mance Rayder,Free folk,Thenns,Giants,-,Night's Watch,...,1,1,100000,1240,"Mance Rayder, Tormund Giantsbane, Harma Dogshe...","Stannis Baratheon, Jon Snow, Donal Noye, Cotte...",0,Castle Black,Beyond the Wall,-
28,Fall of Moat Cailin,300,29,Joffrey/Tommen Baratheon,Balon/Euron Greyjoy,Bolton,-,-,-,Greyjoy,...,0,0,-,-,Ramsey Bolton,-,0,Moat Cailin,The North,-
29,Sack of Saltpans,300,30,-,-,Brave Companions,-,-,-,-,...,0,0,-,-,Rorge,-,0,Saltpans,The Riverlands,-
30,Retaking of Deepwood Motte,300,31,Stannis Baratheon,Balon/Euron Greyjoy,Baratheon,Karstark,Mormont,Glover,Greyjoy,...,0,0,4500,200,"Stannis Baratheon, Alysane Mormot",Asha Greyjoy,0,Deepwood Motte,The North,-
31,Battle of the Shield Islands,300,32,Balon/Euron Greyjoy,Joffrey/Tommen Baratheon,Greyjoy,-,-,-,Tyrell,...,0,0,-,-,"Euron Greyjoy, Victarion Greyjoy",-,0,Shield Islands,The Reach,-
32,"Invasion of Ryamsport, Vinetown, and Starfish ...",300,33,Balon/Euron Greyjoy,Joffrey/Tommen Baratheon,Greyjoy,-,-,-,Tyrell,...,0,0,-,-,"Euron Greyjoy, Victarion Greyjoy",-,0,"Ryamsport, Vinetown, Starfish Harbor",The Reach,-
33,Second Seige of Storm's End,300,34,Joffrey/Tommen Baratheon,Stannis Baratheon,Baratheon,-,-,-,Baratheon,...,0,0,-,200,"Mace Tyrell, Mathis Rowan",Gilbert Farring,0,Storm's End,The Stormlands,-
34,Siege of Dragonstone,300,35,Joffrey/Tommen Baratheon,Stannis Baratheon,Baratheon,-,-,-,Baratheon,...,0,0,2000,-,"Loras Tyrell, Raxter Redwyne",Rolland Storm,0,Dragonstone,The Stormlands,-
35,Siege of Riverrun,300,36,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Frey,-,-,Tully,...,0,0,3000,-,"Daven Lannister, Ryman Fey, Jaime Lannister",Brynden Tully,0,Riverrun,The Riverlands,-
36,Siege of Raventree,300,37,Joffrey/Tommen Baratheon,Robb Stark,Bracken,Lannister,-,-,Blackwood,...,0,1,1500,-,"Jonos Bracken, Jaime Lannister",Tytos Blackwood,0,Raventree,The Riverlands,-
37,Siege of Winterfell,300,38,Stannis Baratheon,Joffrey/Tommen Baratheon,Baratheon,Karstark,Mormont,Glover,Bolton,...,-,-,5000,8000,Stannis Baratheon,Roose Bolton,0,Winterfell,The North,-

In [13]:
df = pd.read_csv('D:\\Data science\\weather12.csv')
df

       Surat    Surat.1    Surat.2
0  31.472801  27.632801  29.059050
1  32.292797  28.102800  29.691551
2        NaN  27.822800        NaN
3  31.552801        NaN  29.106966
4  32.172800  27.732801  29.498632
5  32.352800  27.572800  29.355719
6  32.092800        NaN  29.183220

In [14]:
df.fillna(0)

       Surat    Surat.1    Surat.2
0  31.472801  27.632801  29.059050
1  32.292797  28.102800  29.691551
2   0.000000  27.822800   0.000000
3  31.552801   0.000000  29.106966
4  32.172800  27.732801  29.498632
5  32.352800  27.572800  29.355719
6  32.092800   0.000000  29.183220

In [16]:
df.fillna({
    'Surat.1':'32.092800',
    'Surat':'0',
    'Surat.2':'0'
})

     Surat    Surat.1  Surat.2
0  31.4728    27.6328   29.059
1  32.2928    28.1028  29.6916
2        0    27.8228        0
3  31.5528  32.092800   29.107
4  32.1728    27.7328  29.4986
5  32.3528    27.5728  29.3557
6  32.0928  32.092800  29.1832

In [21]:
df.fillna(method='ffill', limit=1)

       Surat    Surat.1    Surat.2
0  31.472801  27.632801  29.059050
1  32.292797  28.102800  29.691551
2  32.292797  27.822800  29.691551
3  31.552801  27.822800  29.106966
4  32.172800  27.732801  29.498632
5  32.352800  27.572800  29.355719
6  32.092800  27.572800  29.183220

In [31]:
df.interpolate(mathod='time',inplace=True)
df

       Surat    Surat.1    Surat.2
0  31.472801  27.632801  29.059050
1  32.292797  28.102800  29.691551
2  31.922799  27.822800  29.399258
3  31.552801  27.777801  29.106966
4  32.172800  27.732801  29.498632
5  32.352800  27.572800  29.355719
6  32.092800  27.572800  29.183220

In [32]:
df.dropna(how='all')

       Surat    Surat.1    Surat.2
0  31.472801  27.632801  29.059050
1  32.292797  28.102800  29.691551
2  31.922799  27.822800  29.399258
3  31.552801  27.777801  29.106966
4  32.172800  27.732801  29.498632
5  32.352800  27.572800  29.355719
6  32.092800  27.572800  29.183220

In [29]:
df.dropna(thresh=2)

       Surat    Surat.1    Surat.2
0  31.472801  27.632801  29.059050
1  32.292797  28.102800  29.691551
3  31.552801        NaN  29.106966
4  32.172800  27.732801  29.498632
5  32.352800  27.572800  29.355719
6  32.092800        NaN  29.183220